@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


.container{
    margin: 180px;
    padding: 20px; 
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.container h1{
    font-weight: bold;
    letter-spacing: 3px;    
}
.col {
    text-decoration: none;
}

.col h4{
   font-size: 15px;
   font-weight: 500;
}


.col input :placeholder-shown{
    font-weight: bold;
}